* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kufam', sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--numeros);
}

.dark {
    --background-color: var(--background-dark);
    --numeros: var(--numero-dark);
    --btn-iniciar: var(--iniciar-dark);
    --btn-pause: var(--pause-dark);
    --btn-reset: var(--reiniciar-dark);
    --borda: var(--borda-dark);
    --borda-visor: var(--borda-visor--dark);
    --visor:var(--visor-dark);
}

.clean {
    --background-color: var(--cor-background);
    --numeros: var(--cor-numero);
    --btn-iniciar: var(--botao-iniciar);
    --btn-pause: var(--botao-pause);
    --btn-reset: var(--botao-reiniciar);
    --borda: var(--borda-clean);
    --borda-visor: var(--borda-visor-clean);
    --visor: var(--visor-clean);
}

.tempo {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3.5rem;
    background: var(--visor);
    padding: 1.5rem;
    border: 1.5px solid var(--borda-visor);
    box-shadow: 2px 4px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.visor {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.btn-iniciar {
    background-color: var(--btn-iniciar);
}

.btn-pausar{
    background-color: var(--btn-pause);
}

.btn-reiniciar {
    background-color: var(--btn-reset);
}

.btn-iniciar:hover,
.btn-pausar:hover,
.btn-reiniciar:hover{
    box-shadow:
        1px 1px #30475E,
        2px 2px #30475E,
        3px 3px #30475E;
    transform: translateX(-5px);
}

.btn-iniciar,
.btn-pausar,
.btn-reiniciar{
    height: 4rem;
    width: 8.2rem;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1.5px solid var(--borda);
    border-radius: 20px;
    cursor: pointer;
    color: #310B0B;

}

.botoes{
    margin-bottom: 1.5rem;
}

.botoes button:not(:last-child){
    margin-right: 1.5rem;
}

.img-dark{
    width: 2.5%;
    cursor: pointer;
}