* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kufam', sans-serif;
}

body{
    background-color: var(--cor-background);
    color: var(--cor-numero);
}

.tempo {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3.5rem;
}

.visor {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.btn-iniciar {
    background-color: var(--botao-iniciar);
}

.btn-pausar{
    background-color: var(--botao-pause);
}

.btn-reiniciar {
    background-color: var(--botao-reiniciar);
}

.btn-iniciar:hover,
.btn-pausar:hover,
.btn-reiniciar:hover{
    box-shadow:
        1px 1px #30475E,
        2px 2px #30475E,
        3px 3px #30475E;
    transform: translateX(-5px);
}

.btn-iniciar,
.btn-pausar,
.btn-reiniciar{
    height: 4rem;
    width: 8.2rem;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1.5px solid var(--borda);
    border-radius: 20px;
    cursor: pointer;
    color: #310B0B;

}

.botoes button:not(:last-child){
    margin-right: 1.5rem;
}